.m-plan_editor {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .ant-spin-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    h3 {
        margin: 10px 0 15px;
    }

    h5 {
        margin: 0px 0 10px;
    }

    &-remark {
        text-indent: 2em;
    }

    &-more_info {
        text-indent: 2em;

        * {
            text-indent: 0;
        }

        .ant-input-number {
            width: 100px;
        }
    }

    section {
        margin: 10px 0 25px;
    }

    &-map {
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }
}

.m-dayviewer {
    margin-bottom: 10px;

    .m-dvtitle {
        margin: 10px 0 5px;
    }

    &-remark {
        margin-bottom: 10px;
    }

    .m-dvtable {
        font-size: 10px;
        width: 100%;

        th:nth-child(1), th:nth-child(2) {
            text-align: left;
        }

        td:nth-child(1), 
        td:nth-child(3), 
        td:nth-child(4), 
        td:nth-child(5),
        td:nth-child(6) 
        {
            text-align: center;
        }

        tr {
            &.night td {
                background-color: #e9d5ff;
            }

            &.sunset td, &.sunrise td {
                background-color: #ffedc9;
            }

            &.daytime td {
                background-color: #d6f3ff;
            }
        }

        tr:nth-child(2n) {
            &.night td {
                background-color: #f5ecff;
            }

            &.sunset td, &.sunrise td {
                background-color: #fff7e7;
            }

            &.daytime td {
                background-color: #ebf9ff;
            }
        }
    }
}

.m-day_bmap-toolbox {
    padding: 5px 0;
}

.m-day_tips {
    width: 530px;
    border: #eee 1px solid;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;

    > div {
        margin: 5px 0 0;
    }
}