.m-plan_editor {
    h3 {
        margin: 10px 0 15px;
    }

    h5 {
        margin: 0px 0 10px;
    }

    &-remark {
        text-indent: 2em;
    }

    &-more_info {
        text-indent: 2em;

        * {
            text-indent: 0;
        }

        .ant-input-number {
            width: 100px;
        }
    }

    section {
        margin: 10px 0 25px;
    }
}

.m-dayviewer {
    margin-bottom: 10px;

    .m-dvtitle {
        margin: 10px 0 5px;
    }

    &-remark {
        margin-bottom: 10px;
    }

    .m-dvtable {
        font-size: 10px;
        width: 100%;

        th:nth-child(1), th:nth-child(2) {
            text-align: left;
        }

        td:nth-child(3) {
            text-align: center;
        }
    }
}

.m-day_bmap-toolbox {
    padding: 5px 0;
}

.m-day_tips {
    width: 530px;
    border: #eee 1px solid;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;

    > div {
        margin: 5px 0 0;
    }
}