.m-wishboard {
    &-roadbookgraph {
        .ant-space {
            margin-bottom: 10px;
        }

        .m-planboard-countgraph {
            height: calc(100vh - 120px);
            width: calc(100vw - 200px);
            overflow: hidden;

            background-color: white;
            border: #ccc 1px solid;
            border-radius: 4px;
            box-shadow: 0 0 2px rgba(0,0,0,.1);
        }
    }

    &-favposmanage {
        > .ant-space {
            margin-bottom: 10px;
        }

        .m-table-container {
            height: calc(100vh - 120px);
            width: 360px;
            margin-right: 10px;
        }

        .m-map-container {
            height: calc(100vh - 120px);
            width: calc(100vw - 600px);

            background-color: white;
            border: #ccc 1px solid;
            border-radius: 4px;
            box-shadow: 0 0 2px rgba(0,0,0,.1);

            position: relative;
            overflow: hidden;
        }

        .m-map-tools {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 11451;
        }

        .m-fav-pos-form {
            .ant-form {
                .ant-checkbox-group {
                    display: inline-flex;
                    flex-direction: column;
                }
            }
        }
    }
}