.f-white {
  color: white;
}

.f-red {
  color: red;
}

.f-green {
  color: green;
}

.f-yellow {
  color: yellow;
}

.f-orange {
  color: orange;
}

.f-silver {
  color: silver;
}

.f-bg-white {
  background-color: white;
}

.f-bold {
  font-weight: bold;
}

.f-bg-red {
  background-color: red;
}

.f-bg-red18 {
  background-color: mix(red, white, 18%);
}

.f-bg-yellow18 {
  background-color: mix(yellow, white, 18%);
}

.f-bg-blue18 {
  background-color: mix(blue, white, 18%);
}

.f-bg-green18 {
  background-color: mix(green, white, 18%);
}