.f-full-scr, .f-full-screen {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.f-fit-height {
  height: 100%;
}

.f-fit-width {
  width: 100%;
}

.f-fit-content {
  width: 100%;
  height: 100%;
}

.f-flex-row {
  display: flex;
  flex-direction: row;
}

.f-align-items-center {
  align-items: center;
}

.f-flex-col {
  display: flex;
  flex-direction: column;
}

.f-flex-1 {
  flex: 1;
}

.f-row-gutter {
  > * + * {
    margin-left: 10px;
  }
}

.f-cursor-hand {
  cursor: pointer;
}

.f-vertical-middle, .f-vertical-middle > * {
  vertical-align: middle;
}

.f-align-right {
  text-align: right;
}

.f-flex-two-side, .f-two-side {
  display: flex;
  justify-content: space-between;
}

.f-vertical-scroll {
  overflow-y: auto;
}

.f-overflow-auto {
    overflow: auto;
}

.f-overflow-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: none;
  white-space: nowrap;
}

th {
  text-wrap: none;
  white-space: nowrap;
}

.f-inline-block {
  display: inline-block;
}

.f-no-wrap {
    white-space: nowrap;
}

.f-align-center {
  text-align: center;
}

.f-no-margin {
  margin: 0;
}

.f-no-padding {
  padding: 0;
}

.f-absolute-top {
    position: absolute;
    top: 0;
}

.f-relative {
    position: relative;
}

.f-no-overflow {
    overflow: hidden;
}


dt {
  font-weight: bold;
  display: inline-block;
}

dd {
  margin-left: 1em;
  display: inline-block;
}