.m-mainframe_context {

    &-mainheader {
        padding: 0 24px;
        height: 46px;
        margin-bottom: -12px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    

    &-outlet {
        background-color: #f7f7f7;

        padding: 10px 24px 0;
        overflow: auto;
    }
}

.ant-layout .ant-layout-sider .ant-layout-sider-children {
    overflow-y: auto;
}