html[data-theme="dark"] {
    --m-app-header-background: rgb(19, 43, 85);
    --m-main-header-background: rgb(30, 30, 30);
    --m-main-context-outlet-background: rgb(54, 54, 54);
}

html[data-theme="light"] {
    --m-app-header-background: rgb(112 162 245);;
    --m-main-header-background: white;
    --m-main-context-outlet-background: rgb(238, 238, 238);
}

.m-mainframe_context {

    &-mainheader {
        padding: 0 24px 0 15px;
        height: 46px;
        margin-bottom: -12px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: var(--m-main-header-background);

        &-tabs {
            height: 46px;
            flex: 1;
            overflow: hidden;

            &-shifter {
                transition: all .2s;
                &:hover {
                    transform: translateY(-46px);
                }
            }

            &-group {
                height: 46px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &-tab {
                padding: 6px 10px 6px 10px;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
                }
                
                .ant-tag-close-icon {
                    margin-inline-start: 10px;
                }
            }
        }

        &-breadcrumb {
            line-height: 46px;
            height: 46px;

            .ant-breadcrumb {
                line-height: 46px;
            }
        }
    }
    

    &-outlet {
        background-color: var(--m-main-context-outlet-background);

        padding: 10px 24px 0;
        overflow: auto;
    }
}

.m-app-header {
    height: 46px;
    overflow: hidden;

    background-color: var(--m-app-header-background);

    &_logo {
        color: white;
        line-height: 46px;
        margin: 0;
    }

    &_research {
        height: 46px;
        padding: 7px 5px 0;
    }

    &_shifter {
        transition: all .2s;
        &.active, &:hover {
            transform: translateY(-46px);
        }
    }
}

.ant-layout .ant-layout-sider .ant-layout-sider-children {
    overflow-y: auto;
}